{% extends 'zoo/base.html' %}

{% block body %}
    <section>
     <div class="container-fluid" style="margin-top: 70px">
         <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                {% for insect in insects %}
                    <div class="card" style="width:280px; float: left; margin-left:10px;">
                   <div class="mx-auto d-block" style="width: 220px; height: 220px; margin-top: 10px">
                       <img class="card-img" align="middle" src="{{insect.image.url}}" alt="Card image" style="max-width: 100%; max-height: 100%;">
                   </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ insect.name }}</h4>
                        <a href="{% url 'animal_detail' id=insect.pk %}" class="btn btn-primary">See Product</a>
                        <a href="{% url 'add_to_cart' id=insect.pk %}" class="btn btn-warning">Add to Cart</a>
                    </div>
                    </div>
                {% endfor %}
            </div>
         </div>
        <div class="row" style="margin-top: 15px;">
{#            <div class="col-sm-6"></div>#}
            <div class="mx-auto pagination"    >
                <span class="step-links">
                    {% if insects.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ insects.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ insects.number }} of {{ insects.paginator.num_pages }}.
                    </span>

                    {% if insects.has_next %}
                        <a href="?page={{ insects.next_page_number }}">next</a>
                        <a href="?page={{ insects.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
         </div>
        </div>
    </div>
    </section>
{% endblock %}